@page "/Articles/Details/{Id:int}"

<h3>Details</h3>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="id">ID: </label> @_model.Id
            </div>
            <div class="form-group">
                <label for="Created">Created: </label> @_model.Created
            </div>
            <div class="form-group">
                <label for="Modified">Modified: </label> @_model.Modified
            </div>
            <div class="form-group">
                <label for="title">Title: </label> @_model.Title
            </div>
            <div class="form-group">
                <hr />
                <label for="title">Content: </label>
                @_model.Content
            </div>
            <div class="form-group">
                <a href="/Articles/edit/@_model.Id" class="btn btn-primary">수정</a>
                <button @onclick="btnDelete_Click" class="btn btn-danger">삭제</button>
                <a href="/Articles" class="btn btn-secondary">확인</a>
            </div>
        </div>
    </div>
</div>

<ArticleDeleteModal Model="_deleteModel" OnChanged="@(() => Manager.NavigateTo("/Articles"))"/>

@code {
    [Parameter]
    public int Id { get; set; }
    [Inject]
    public ArticleAppDbContext DbContext { get; set; }
    [Inject]
    public NavigationManager Manager { get; set; }

    private Article _model = new();

    private Article _deleteModel = new();

    protected override async Task OnInitializedAsync()
    {
        _model = await DbContext.Articles.FindAsync(Id);
    }

    protected void btnDelete_Click()
    {
        _deleteModel = _model;
    }
}